%main.main

  .signup-panel
    %p.signup-panel__title--address 会員登録完了

    #new_user
      .thankyou
        %p ありがとうございます。
        %p 会員登録が完了しました。

      .sign-up-btn
        %button{type: "submit",class: "btn-red"}
          メルカリをはじめる