.signup-container
  %h2.signup-header 会員情報入力
  .registration-form

    = form_for @sms, url: sms_authentication_signup_index_path,method: :post do |f|
      .signup-form-container.registration-form__first-container
        .signup-form-container__title
        = label :tel, '携帯電話の番号', class: 'signup-label'
        = f.text_field :tel, placeholder: '携帯電話の番号を入力'
        
   
    = link_to "次へ進む", address_signup_index_path
