//@共通クラス



//@全てに適用
* {
  box-sizing: border-box;
}

img:hover {
  
  
}


.disablelinklinecolor{
  text-decoration: none;
  color: black;
}

.disablelinklinecolor:hover{
  color: #10e0fc;
}

.listspace{
  text-decoration: none;
  color: rgb(255, 255, 255);
  line-height: 1.4em;
  margin: 16px 0px 0px;
}


.iconspace{
  display: inline-block;
  margin-top: 30px;
}

iconspace-rightslide{
  max-width: 100%;
  height: auto;
  max-height: 100%;
  width: 30px;
  margin-right: 20px;
}


//@ヘッダー
.header {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
  position: relative;
  z-index: 3;
  font-family: Arial;

  &__flame {

   width: 1020px;
    margin: 0px auto;
    padding: 8px 0px 0px;

    &__upper {
      
      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;

      &__logo {

        -webkit-box-align: center;
        align-items: center;
        display: flex;
        height: 40px;
        margin-right: 45px;

      }
      
      &__search {
        position: relative;
        width: 100%;

        &__form-textbox {
          background-color: rgb(245, 245, 245);
          font-size: 16px;
          height: 40px;
          line-height: 1.4em;
          position: relative;
          width: 100%;
          -webkit-appearance: none;
          border-width: 1px;
          border-style: solid;
          border-color: rgb(204, 204, 204);
          border-image: initial;
          border-radius: 4px;
          outline: none;
          padding: 0px 50px 0px 10px;
          transition: all 0.3s ease-out 0s;
        }
        &__form-button {
          background-color: transparent;
          cursor: pointer;
          height: 40px;
          position: absolute;
          right: 0px;
          top: 0px;
          width: 40px;
          -webkit-appearance: none;
          border-width: initial;
          border-top-width: initial;
          border-right-width: initial;
          border-bottom-width: initial;
          border-left-width: initial;
          border-style: none;
          border-color: initial;
          border-image: initial;
          border-radius: 0px 4px 4px 0px;
          padding: 0px;
        }
      }
    }

    &__lower {

      display: flex;
      -webkit-box-pack: justify;
      justify-content: space-between;
      margin-top: 8px;

      &__left-block {

        display: flex;
        margin-left: -3px;
        
        &__category {

          cursor: pointer;
          height: 44px;
          position: relative;
          z-index: 3;
          display: flex;
          padding-right:10px;

          &_icon {
            
            
            }


            &_iext {

            }


          }

          &__brand {
            cursor: pointer;
            height: 44px;
            position: relative;
            // z-index: 3;
            display: flex;
            padding-left:10px;

            //仮置き
            &_iext {

            }
        }
      }



      
      &__right-block  {
        display: flex;
        position: relative;

       
        &__eachblock{
          padding: 0px 14px;
          height: 44px;
          display: flex;
          
          &__category{
            -webkit-box-align: center;
            align-items: center;
            display: flex;
            font-size: 14px;
            height: 32px;

          
          }
        }
      }
    }
  }
}


iconconnfig{

  max-width: 100%;
  max-height: 100%;
  color: rgb(234, 53, 45);
  height: 12px;
  margin-right: 4px;

}

//@アプリ紹介
.applicationintroduction{
  width: 100%;
  height: 390px;
  margin: 0px auto;
  background-color: rgb(120, 131, 114);
  
  &__image{
    height: 390px;
    width: 440px;
    background-color: burlywood;
    float: right;
  }

  &__flame
  {
    
    -webkit-box-align: center;
    align-items: center;
    max-width: 860px;
    position: relative;
    padding: 20px 40px;
    // display: flex;
    &__block
    {
      
      width: 100%;
      padding: 20px 40px;

      &__top{
        font-size: 60px;
        font-weight: 600;
        line-height: 1.4;
        margin-bottom: 16px;
      }
      &__middle{
        font-size: 18px;
        line-height: 1.77777;
        margin-bottom: 24px;
      }
      &__under{

      }


    }


  }

}

//@カテゴリー紹介
.categoryonintroduction{
  
  padding: 56px 0px 30px;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 0px;
  width: 100vw;
  text-align: center;

  &__title{
    margin-bottom: 16px;
    font-size: 28px;
   
  }

  &__details{

    overflow-x: auto;
    text-align: center;
    white-space: nowrap;

    &__block{

      display: block;
      text-align: center;
      width: 100%;
      margin: -10px 0px 0px -10px;

      &__listgoods{
        margin: 10px 0px 0px 10px;
        background-color: rgb(239, 239, 239);
        cursor: pointer;
        display: inline-block;
        font-size: 14px;
        font-weight: 600;
        border-radius: 15px;
        padding: 8px 16px;





      }
        
    }
   
  }
 


}




//@商品実装(仮想)
.imagebody{
  width: 100%;
  height: 100%;
  margin: 0px auto;
  background-color: rgb(211, 50, 58);

  &__flame{
    padding: 42px 0px 100px;
    &__block{

      &__sample{
        margin-bottom: 16px;
        align-items: flex-end;
        display: flex;
        -webkit-box-pack: justify;
        justify-content: space-between;
        padding: 0 200px;

        &__text{
          font-size: 24px;
        }
        &__details{
          
        }
      }
    }

    &__itemslists{
      flex-wrap: wrap;
      padding: 0 200px;
      width: 100%;

      &__block{

        display: flex;
        margin: -10px;
        justify-content: space-between;
        flex-wrap: wrap;
        display: flex;

        &__image{
          width: 200px;
          margin-bottom: 20px;
          margin-right: 10px;
          display: flex;
          flex-wrap: wrap;
          position: relative;
          background-color: white;


          .top-image{
            width: 200px;
            height: 180px;
            margin-bottom: 70px;
          }
        
          .top-price{
            position: absolute;
            top: 140px;
            padding-left: 20px;
            background-color: gray;
            flex-wrap: wrap;
            color: white;
            width: 100px;
            height: 30px;
            line-height: 30px;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
          }

          .top-name{
            position: absolute;
            width: 187px;
            top: 180px;
            height: 70px;
            padding: 10px;
          }
        }

      }
    
    }

    
  }
  

}



//紹介
aside{
  width: 100%;
  height: 260px;
  margin: 0px auto;
  background-color: blue;
  

}

.aside__flame{

  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  width: 750px;
  margin: 0px auto;

  &__left-block{

    display: flex;
    flex-direction: column;
    -webkit-box-pack: center;
    justify-content: center;
    
    &__upper-row{

      color: rgb(255, 255, 255);
      font-size: 24px;
      font-weight: 600;
      margin-bottom: 15px;

    }

    &__middle-row{
      
      color: rgb(255, 255, 255);
      font-size: 35px;
      margin-bottom: 20px;
      
    }

    &__under-row{

      
    }
  }

  &__right-block{

    height: 260px;
    width: 300px;
    background-color: rgb(49, 207, 160);
  }


}

//@フッター
footer{

}

.footersetting{

  background-color: rgb(34, 34, 34);
  color: rgb(255, 255, 255);
  font-size: 12px;
  padding: 0px 20px 10px;

  &__flame{
    
    
    @media screen and (max-width:1068px){

      width: 700px;
      margin: 0px auto;

      &__style-heading
      {
        flex-wrap: wrap;
        display: flex;
        &__upperleft-block
        {
          display: inline-block;
          margin-top: 18px;
          vertical-align: top;
          width: 50%;
          padding: 0px 10px;
         
        }
    
        &__upperright-block
        {
          display: inline-block;
          margin-top: 18px;
          vertical-align: top;
          width: 50%;
          padding: 0px 10px;
          
        }
    
    
        &__lower-block
        {
          margin-top: 18px;
          padding-right: 40px;
          width: 100%;
  
  
          &__left-block{
  
            display: inline-block;
            padding-right: 10px;
            vertical-align: top;
            width: 50%;
            float: left;
          }
  
          &__right-block{
            display: inline-block;
            padding-left: 10px;
            vertical-align: top;
            width: 50%;
            float: right;
          }
  
  
  
        }
  
        &__country{
          margin-top: 18px;
          width: 100%;
        }
  
  
      }
  
    }
    

    @media screen and (min-width:1068px){
            
      width: 1020px;
      // margin: 0px auto;
    
      &__style-heading
      {
  
        font-weight: 600;
        line-height: 1.4em;
        margin: 0;
        padding: 0;
        display: flex;
     
        &__upperleft-block
        {
          display: inline-block;
          margin-top: 18px;
          vertical-align: top;
          // width: 50%;
          padding-right: 10px;
         
        }
    
        &__upperright-block
        {
          display: inline-block;
          margin-top: 18px;
          vertical-align: top;
          // width: 50%;
          padding: 0px 10px;
          
        }
    
    
        &__lower-block
        {
          margin-top: 18px;
          padding-right: 40px;
          width: 43%;
  
  
          &__left-block{
  
            display: inline-block;
            padding-right: 10px;
            vertical-align: top;
            width: 50%;
            float: left;
          }
  
          &__right-block{
            display: inline-block;
            padding-left: 10px;
            vertical-align: top;
            width: 50%;
            float: right;
          }
  
  
  
        }
  
        &__country{
          margin-top: 18px;
          width: auto;
        }
  
  
      }
  
  



    }


    &__logo{
  
      margin: 30px auto 20px;

    }


  }


}

//@カメラ
.exhibitioncamera
{
  
  bottom: 32px;
  font-size: 22px;
  height: 160px;
  right: 32px;
  width: 160px;

  position: fixed;
  right: 0;
}


