.content_info{
  height: 50px;
  weight: 100%;
  background-color: white;
  font-size: 14px;
  line-height: 20px;
  border-top: solid, gray;
  border-bottom: inset;
  padding-top: 15px;
  padding-left: 210px;
  margin-bottom: 30px;

  &__first{
    weight: 50px;
    text-align: center;
    font-weight: normal;
    margin-right: 12px;
    color: black;
    float: left;
  } 
  &__second{
    font-size: 12px;
    weight: 50px;
    text-align: center;
    font-weight: normal;
    color: black;
    margin-right: 12px;
    float: left;
  }
  &__third{
    weight: 50px;
    text-align: center;
    font-weight: normal;
    color: black;
    margin-right: 12px;
    float: left;
  }
  &__foreth{
    font-size: 12px;
    weight: 50px;
    text-align: center;
    font-weight: normal;
    color: black;
    margin-right: 12px;
    float: left;
  }
  &__fifth{
    weight: 50px;
    text-align: center;
    font-weight: bold;
    color: black;
    float: left;
  }
}   

.container__logout{
  padding: 64px;
  background-color: white;
  float: right;
  width: 700px;
  .logout-btn{
    background-color: #ea352d;
    width: 350px;
    border: 1px splid #ea352d;
    color: white;
    display: block;
    font-size: 14px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    line-height: 48px;
  }
}